.addroute {
  min-height: 30px;
  min-width: 95%;
  margin: auto;
  margin-left: 140px;
  padding: 20px;
  align-self: center;
  justify-self: center;
}
.singleroute {
  min-height: 30px;
  min-width: 90%;
  margin: auto;
  margin-left: 40px;
  padding: 20px;
  align-self: center;
  justify-self: center;
  /* border: 2px solid #000 */
}

.header {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
